/* css preset */
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: 1em/1.25 Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

/* Headlines */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

/* Text Styles */

p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea {
  margin: 0;
  padding: 8px;
  font: normal normal normal 1em/1.25 Arial, Helvetica, sans-serif;
}

blockquote {
  margin: 1.25em;
  padding: 1.25em;
}

q {
  font-style: italic;
}

acronym, abbr {
  cursor: help;
  border-bottom: 1px dashed;
}

small {
  font-size: .85em;
}

big {
  font-size: 1.2em;
}

/* Links and Images */

a {
  text-decoration: underline;
}

img {
  border: none;
}

/* Tables */

table {
  margin: 0;
  padding: 0;
  border: none;
}

/* Forms */

form {
  padding: 0;
  display: inline;
}

label {
  cursor: pointer;
}

/* Common Classes */

.clear {
  clear: both;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}

.textJustify {
  text-align: justify;
}

.blockCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* remember to set width */

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.noindent {
  margin-left: 0;
  padding-left: 0;
}

.nomargin {
  margin: 0;
}

.nopadding {
  padding: 0;
}

.nobullet {
  list-style: none;
  list-style-image: none;
}

/* app css */
.parent-container {

  width: 100%;
  height: 100%;
  background-color:#a8e9ff;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#a8e9ff, endColorstr=#3fb5cc);
  background-image:-moz-linear-gradient(right bottom, #a8e9ff 100%, #3fb5cc 15%,#fff 97%);
  background-image:linear-gradient(right bottom, #a8e9ff 100%, #3fb5cc 15%,#fff 97%);
  background-image:-webkit-linear-gradient(right bottom, #a8e9ff 100%, #3fb5cc 15%,#fff 97%);
  background-image:-o-linear-gradient(right bottom, #a8e9ff 100%, #3fb5cc 15%,#fff 97%);
  background-image:-ms-linear-gradient(right bottom, #a8e9ff 100%, #3fb5cc 15%,#fff 97%);
  background-image:-webkit-gradient(linear, right bottom, left top, color-stop(100%,#a8e9ff), color-stop(15%,#3fb5cc),color-stop(97%,#fff));
}

.app-header {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #e3dcdc;
  background-color: #f0f0f0;
  padding: 15px;
}

.main-container {
  width: 100%;
  height: calc(100% - 61px);
  display: inline-flex;
}

.navigation-container {
  width: 20%;
  border-right: 2px solid #e3dcdc;
}

.feeds-list-container {
  height: 100%;
}

.feeds-list {
  color: red;
}

.empty-feeds {
  padding: 30px;
  font-size: 12px;
  color: red;
  font-style: italic;
}

.display-container {
  width: 80%;
  padding: 30px;
  color: #352e2e;
  font-size: 15px;
}

.add-new-feed {
  padding: 20px;
  border-bottom: 1px solid #e3dcdc;
  text-align: center;
  display: block;
}

.feed-input {
  width: 100%;
  box-sizing: border-box;
}

.add-feed-btn {
  margin-top: 10px;
  padding: 8px;
}

.feed-info {
  cursor: pointer;
  list-style: none;
  padding: 20px;
  border-bottom: 1px solid #e3dcdc;
}

.feed-name {
  font-weight: bold;
  color: #504c4c;
}

.feed-url {
  font-size: 12px;
  color: #a6a0a0;
}

.item-details {
  list-style: none;
}

.item-title {
  color: #d0330d;
}

.item-content {
  color: #352e2e;
  font-size: 15px;
}
